@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,600,300);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
form {
  vertical-align: top;
}
body {
  background: #E9E9E9;
  font-family: 'Open Sans', sans-serif;
}
body ul {
  list-style-type: none;
}
button {
  transition: .2s;
}
h1 {
  font-size: 24px;
  text-transform: uppercase;
  background: #fff;
  color: #3db3ff;
  display: inline-block;
  padding: 5px;
}
h2 {
  font-size: 14px;
  font-weight: 400;
  color: #ff6f2d;
  margin-bottom: 10px;
}
.container {
  width: 1170px;
  margin: 30px auto;
}
.main-header {
  background: #3db3ff;
  padding: 20px 100px;
  color: #fff;
  margin-bottom: 10px;
  box-shadow: 2px 2px 4px #c4c8c7;
}
.main-content {
  background: #fff;
  padding: 50px 100px;
  box-shadow: 2px 2px 4px #c4c8c7;
}
.main-content header + main {
  margin-top: 30px;
}
.main-content #interval-form {
  display: inline-block;
  background: #3db3ff;
  position: relative;
  padding: 10px;
}
.main-content #interval-form h2 {
  position: absolute;
  top: -25px;
  left: 0;
}
.main-content #interval-form input {
  width: 40px;
  height: 40px;
  padding: 5px;
  text-align: center;
  font-size: 20px;
}
.main-content #interval-form .addButton {
  position: absolute;
  right: -37px;
  top: 14px;
  border: none;
  width: 30px;
  height: 30px;
  line-height: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #7A7979;
  z-index: 10;
  background: #3db3ff;
  color: #fff;
}
.main-content #interval-form .addButton:hover {
  background: #0a9fff;
}
.main-content #interval-form:after {
  content: '';
  width: 60px;
  height: 62px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  right: -52px;
  top: -1px;
  z-index: 0;
}
.main-content .interval-gallery {
  display: inline-block;
  margin-left: 70px;
}
.main-content .interval-gallery li {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #f46c43;
  display: inline-block;
}
.main-content #input-section {
  margin-bottom: 30px;
}
.main-content #input-section .inputExp {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  background: #c4c8c7;
  border-radius: 5px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
}
.main-content #output-section .output-block .chart {
  display: inline-block;
  width: 50%;
  min-height: 300px;
  border: 1px dashed #3db3ff;
  border-radius: 5px;
}
.main-content #output-section .output-block .result-block {
  display: inline-block;
}
footer {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}
footer a {
  color: #3db3ff;
}
